
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  min-height: 100dvh;
}

.app-container {
  background-color: #15141F;
  color: #fff;
  font-family: Lato;
  letter-spacing: calc(0.2em);
  font-weight: medium;
  padding: 25px;
}

/* .home-screen, .discover-screen, .detail-screen {
  padding: 20px;
} */

.movie-spotlight img, .trending-movie img, .movie-item img, .related-movie img {
 /* max-width: 100dvw; */
  border-radius: 15px;
}

.trending-movies, .movie-list, .related-movies {
  display: flex;
  /* overflow-x: scroll; */
}

.bottom-nav {
  background-color: #15141F;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a.movie-title {
  color: #fff;
}

a.movie-title:hover {
  color: #bcbcbc;
}