.bottom-nav {
  position: sticky;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  padding-top: 2.5vh;
}

.bottom-nav a:hover {
  transform: scale(1.1);

}