/* src/pages/SignUp.css */
.sign-up {
    padding: 20px;
    background-color: #15141F;
    color: #fff;
  }
  
  .sign-up form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up label {
    margin: 5px 0;
  }
  
  .sign-up input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2c2a35;
    color: #fff;
  }
  
  .sign-up button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ef2d1a;
    color: #fff;
    cursor: pointer;
  }
  